<div id="home-img">
<img src="../images/home-page.png">
</div>

<div id="home">

    <span id="find_device_home">
        <b>FIND DEVICE</b><img src="images/find.jpg">
        <form name="frmfind" action="list/finddevice" method="POST">
            <table>
                <tr>
                    <td><input type="text" name="searchstring"></td>
                    <td><input type="submit" name="btn_find" value="Find"></td>
                </tr>
            </table>
        </form>
    </span>

    <span id="statistics">
        <center><h4>STATISTICS</h4></center>
        <table>
            <tr><td align="right">Total devices:</td><td align="right"><?php echo $this->devicecount; ?></td></tr>
            <tr><td align="right">Devices in usage:</td><td align="right"><a href="List/activedevice"><?php echo $this->activedevicecount; ?></a></td></tr>
            <tr><td align="right">Removed devices:</td><td align="right"><a href="List/inactivedevice"><?php echo $this->devicecount - $this->activedevicecount; ?></a></td></tr>
            <tr><td align="right">Devices on stock:</td><td align="right"><a href="List/onstock"><?php echo $this->onstockcount; ?></a></td></tr>
            <tr><td align="right">Monitors:</td><td align="right"><a href="List/monitors"><?php echo $this->activemonitorscount; ?></a></td></tr>
            <tr><td align="right">Laptops:</td><td align="right"><a href="List/laptops"><?php echo $this->activelaptopscount; ?></a></td></tr>
            <tr><td align="right">Desktops:</td><td align="right"><a href="List/desktops"><?php echo $this->activedesktopscount; ?></a></td></tr>
            <tr><td align="right">Computers ending support:</td><td align="right"><a href="List/supportending"><?php echo $this->supportendcount; ?></a></td></tr>
            <tr><td align="right">Total users:</td><td align="right"><a href="List/users"><?php echo $this->usercount; ?></a></td></tr>
        </table>

    </span>

    <div id="last10">

        <?php
        echo "<h4>NEW ENTRIES</h4>";
        echo "<table><tr><th>GOT#</th><th>User</th></tr>";
        for ($i = 0; $i < sizeof($this->last10inserts); $i++)
        {
            //$real_name = mb_convert_encoding($this->last10inserts[$i]['real_name'], "ISO-8859-1", "UTF-8");
            echo "<tr>
                        <td><a href='list/viewitem?id=" . $this->last10inserts[$i]['id'] . "'>" . $this->last10inserts[$i]['got_nr'] . "</a></td>
                        <td><a href='list/viewuser?id=" . $this->last10inserts[$i]['user_id'] . "'>" . $this->last10inserts[$i]['real_name'] . "</a></td></tr>";
        }
        echo "</table>";
        ?>

    </div>
    <span id="piechart"> <img src='chart.png'> </span>

</div>
