/* 
    Document   : global
    Created on : 2011-maj-19, 16:43:08
    Author     : robert.gislason
    Description:
        Purpose of the stylesheet follows.
*/

body {
    font-size: 62.5%;
    font-family: verdana;
}

