html, body{ 
    margin:0;
    padding:0;
    font-family: verdana;
    font-size: small;
} 

h1{
    color: #3366cc;
}

h2{
    color: #005DAB;
    text-shadow: 5px 5px 3px #414141;
}

table tr td
{
    font-size: small;
}

#pagewidth{ }

#error{
    color: red;
    font-weight: bold;
    font-style: italic;
}

#header{
    position:relative;
    height:70px;
    background-color:#ffffff;
    width:100%;
    display:block;
    overflow:auto;
    margin-left: 80px;
    background-image:url('images/simple.jpg');
} 

#links{
    position:relative;
    width:100%;
    margin-left: 90px;
    margin-bottom: 10px;
    font-size: small;
} 

#maincol{
    background-color: #ffffff;
    position: relative;
    height: 600px;
}

#register{
    background-color:#fdfdfd;
    width:460px;
    margin-top:20px;
    margin-bottom:20px;
    margin-left: 25%;
    position: relative;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: small;
    position: auto;


    /* Rounded Borders */
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    border-color: #dededd

    /* Shadow on div */
    box-shadow: 7px 7px 8px #818181;
    -webkit-box-shadow: 7px 7px 8px #818181;
    -moz-box-shadow: 7px 7px 8px #818181;
    filter: progid:DXImageTransform.Microsoft.dropShadow(color=#818181, offX=7, offY=7, positive=true);
}

#home{
    background-color:#fdfdfd;
    width:560px;
    margin-top:20px;
    margin-bottom:20px;
    margin-left: 30%;
    position: relative;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: small;
    position: auto;
    height: 520px;


    /* Rounded Borders */
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    border-color: #dededd

    /* Shadow on div */
    box-shadow: 7px 7px 8px #818181;
    -webkit-box-shadow: 7px 7px 8px #818181;
    -moz-box-shadow: 7px 7px 8px #818181;
    filter: progid:DXImageTransform.Microsoft.dropShadow(color=#818181, offX=7, offY=7, positive=true);
}

#logger-home{
    background-color:#fdfdfd;
    width:560px;
    margin-top:20px;
    margin-bottom:20px;
    margin-left: 30%;
    position: relative;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    position: auto;
    font-size: xx-small;

    /* Rounded Borders */
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    border-color: #dededd

    /* Shadow on div */
    box-shadow: 7px 7px 8px #818181;
    -webkit-box-shadow: 7px 7px 8px #818181;
    -moz-box-shadow: 7px 7px 8px #818181;
    filter: progid:DXImageTransform.Microsoft.dropShadow(color=#818181, offX=7, offY=7, positive=true);
}

.content table tr td
{
        font-size: xx-small;
}

#register-agreement{
    background-color:#fdfdfd;
    width:300px;
    margin-top:20px;
    margin-bottom:20px;
    margin-left: 33%;
    position: relative;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: small;
    position: auto;


    /* Rounded Borders */
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    border-color: #dededd

    /* Shadow on div */
    box-shadow: 7px 7px 8px #818181;
    -webkit-box-shadow: 7px 7px 8px #818181;
    -moz-box-shadow: 7px 7px 8px #818181;
    filter: progid:DXImageTransform.Microsoft.dropShadow(color=#818181, offX=7, offY=7, positive=true);
}

#register-info{
    background-color:#fdfdfd;
    width:300px;
    margin-top:20px;
    margin-bottom:20px;
    margin-left: 33%;
    position: relative;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: small;
    position: auto;


    /* Rounded Borders */
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    border-color: #dededd

    /* Shadow on div */
    box-shadow: 7px 7px 8px #818181;
    -webkit-box-shadow: 7px 7px 8px #818181;
    -moz-box-shadow: 7px 7px 8px #818181;
    filter: progid:DXImageTransform.Microsoft.dropShadow(color=#818181, offX=7, offY=7, positive=true);
}

#register-user{
    background-color:#fdfdfd;
    width:300px;
    margin-top:20px;
    margin-bottom:20px;
    margin-left: 33%;
    position: relative;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: small;
    position: auto;


    /* Rounded Borders */
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    border-color: #dededd

    /* Shadow on div */
    box-shadow: 7px 7px 8px #818181;
    -webkit-box-shadow: 7px 7px 8px #818181;
    -moz-box-shadow: 7px 7px 8px #818181;
    filter: progid:DXImageTransform.Microsoft.dropShadow(color=#818181, offX=7, offY=7, positive=true);
}

#register-device{
    background-color:#fdfdfd;
    width:930px;
    margin-top:20px;
    margin-bottom:20px;
    margin-left: 15%;
    position: relative;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: small;
    position: auto;


    /* Rounded Borders */
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    border-color: #dededd

    /* Shadow on div */
    box-shadow: 7px 7px 8px #818181;
    -webkit-box-shadow: 7px 7px 8px #818181;
    -moz-box-shadow: 7px 7px 8px #818181;
    filter: progid:DXImageTransform.Microsoft.dropShadow(color=#818181, offX=7, offY=7, positive=true);
}

#view-active-devices{
    background-color:#fdfdfd;
    width:980px;
    margin-top:20px;
    margin-bottom:20px;
    margin-left: 13%;
    position: relative;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: small;
    position: auto;


    /* Rounded Borders */
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    border-color: #dededd

    /* Shadow on div */
    box-shadow: 7px 7px 8px #818181;
    -webkit-box-shadow: 7px 7px 8px #818181;
    -moz-box-shadow: 7px 7px 8px #818181;
    filter: progid:DXImageTransform.Microsoft.dropShadow(color=#818181, offX=7, offY=7, positive=true);
}

#view-users{
    background-color:#fdfdfd;
    width:590px;
    margin-top:20px;
    margin-bottom:20px;
    margin-left: 30%;
    position: relative;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: small;
    position: auto;


    /* Rounded Borders */
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    border-color: #dededd

    /* Shadow on div */
    box-shadow: 7px 7px 8px #818181;
    -webkit-box-shadow: 7px 7px 8px #818181;
    -moz-box-shadow: 7px 7px 8px #818181;
    filter: progid:DXImageTransform.Microsoft.dropShadow(color=#818181, offX=7, offY=7, positive=true);
}

#view-search-results{
    background-color:#fdfdfd;
    width:980px;
    margin-top:20px;
    margin-bottom:20px;
    margin-left: 25%;
    position: relative;
    padding-bottom: 10px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: small;
    position: auto;


    /* Rounded Borders */
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    border-color: #dededd

    /* Shadow on div */
    box-shadow: 7px 7px 8px #818181;
    -webkit-box-shadow: 7px 7px 8px #818181;
    -moz-box-shadow: 7px 7px 8px #818181;
    filter: progid:DXImageTransform.Microsoft.dropShadow(color=#818181, offX=7, offY=7, positive=true);
}


#content{
    background-color: #ffffff;
    border-style: solid;
    width:552px;
    top: 0;
    left: 200px;
    position: relative;
    float: left;
    font-size: small;
    margin-bottom: 2%;

    /* Rounded Borders */
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    border-color: #ffffff;
}

#top10{
    background-color:#FDEB9C;
    width:540px;
    position: fixed;
    float: left;
    left: 120px;
    font-size: small;
    margin-left: 670px;
    margin-top: 5px;
    padding-bottom: 20px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;

    /* Rounded Borders */
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    border-color: #f0dddf;
    /* Shadow on div */
    box-shadow: 7px 7px 8px #818181;
    -webkit-box-shadow: 7px 7px 8px #818181;
    -moz-box-shadow: 7px 7px 8px #818181;
    filter: progid:DXImageTransform.Microsoft.dropShadow(color=#818181, offX=7, offY=7, positive=true);
}

#search{
    background-color:#DEE2E3;
    width:360px;
    font-size: small;
    top: 20px;
    left: 120px;
    float: left;
    position: fixed;
    margin-left: 670px;
    margin-top: 400px;
    margin-bottom: 10px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;

    /* Rounded Borders */
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    border-color: #f4eac3;

    /* Shadow on Div */
    box-shadow: 7px 7px 8px #818181;
    -webkit-box-shadow: 7px 7px 8px #818181;
    -moz-box-shadow: 7px 7px 8px #818181;
    filter: progid:DXImageTransform.Microsoft.dropShadow(color=#818181, offX=7, offY=7, positive=true);
} 

#results{
    background-color:#DEE2E3;
    width:540px;
    font-size: small;
    top: 20px;
    left: 120px;
    position: fixed;
    float: left;
    margin-left: 670px;
    margin-top: 500px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;

    /* Rounded Borders */
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    border-color: #f4eac3;

    /* Shadow on Div */
    box-shadow: 7px 7px 8px #818181;
    -webkit-box-shadow: 7px 7px 8px #818181;
    -moz-box-shadow: 7px 7px 8px #818181;
    filter: progid:DXImageTransform.Microsoft.dropShadow(color=#818181, offX=7, offY=7, positive=true);
} 

#scratch{
    background-color:#def0da;
    border-style: dotted;
    width:540px;

    left: 465px;
    position: static;
    font-size: small;
    padding-bottom: 20px;
    padding-left: 8px;
    padding-right: 8px;

    /* Rounded Borders */
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    border-color: #def0da;

    /* Shadow on Div */
    box-shadow: 7px 7px 8px #818181;
    -webkit-box-shadow: 7px 7px 8px #818181;
    -moz-box-shadow: 7px 7px 8px #818181;
    filter: progid:DXImageTransform.Microsoft.dropShadow(color=#818181, offX=7, offY=7, positive=true);
}

#viewsolution{
    background-color:#fdfdfd;
    width:800px;
    top:0;
    left: 80px;
    top: 0;
    position: relative;
    float: left;
    padding-bottom: 20px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: small;
    margin-top: 30px;

    /* Rounded Borders */
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    border-color: #dededd

    /* Shadow on div */
    box-shadow: 7px 7px 8px #818181;
    -webkit-box-shadow: 7px 7px 8px #818181;
    -moz-box-shadow: 7px 7px 8px #818181;
    filter: progid:DXImageTransform.Microsoft.dropShadow(color=#818181, offX=7, offY=7, positive=true);
} 

#scratched{
    background-color:#def0da;
    border-style: dotted;
    width:650px;
    position: static;
    font-size: small;
}

#linebreak{
    padding: 50px;
}

#linkborder
{
    background-color:#003366;
    clear:both;
    display:block;
    overflow:auto;
    text-align: center;
    position: auto;
    color: white;
}

#linkborder a
{
    color: white;
}

#footer{
    background-color:#003366;
    clear:both;
    display:block;
    overflow:auto;
    text-align: center;
    position: auto;
    color: white;
} 

th { text-align: left; font-weight: bold }

A:link {text-decoration: none; color: gray;}
A:visited {text-decoration: none; color: gray;}
A:active {text-decoration: none; color: gray;}
A:hover {text-decoration: underline; color: gray;}

#regform
{
    margin-left: 120px;
}

#active_devices
{
    margin-left: 70px;
    width: 200px;
}

.ui-autocomplete ui-menu ui-widget ui-widget-content ui-corner-all
{
    z-index: 1;
    top: -202px;
    left: 551px;
    display: block;
    position: relative;
    width: 200px;
}

ul
{
    width: 200px;
}

#device-view-item
{
    background-color:#fdfdfd;
    width:189px;
    margin-top:20px;
    margin-bottom:20px;
    position: relative;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 50px;
    position: auto;
    float: left;
    margin: 5px;
    border-style:solid;
    background-color: whitesmoke;

    /* Rounded Borders */
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    border-color: #dededd


}

#find_device
{
    background-color:#fdfdfd;
    width:189px;
    margin-top:20px;
    margin-bottom:20px;
    position: relative;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 50px;
    position: fixed;
    float: left;
    margin-left: -310px;
    border-style:solid;
    background-color: whitesmoke;

    /* Rounded Borders */
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    border-color: #dededd


}

#find_device_home
{
    background-color:#fdfdfd;
    width:220px;
    margin-top:20px;
    margin-bottom:20px;
    position: relative;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 50px;
    position: relative;
    float: left;
    margin-left: -25px;
    border-style:solid;
    background-color: whitesmoke;

    /* Rounded Borders */
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    border-color: #dededd
}

#last10
{
    background-color:#fdfdfd;
    width:220px;
    margin-top:-177px;
    margin-bottom:20px;
    position: relative;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 50px;
    position: relative;
    float: left;
    margin-left: -25px;
    border-style:solid;
    background-color: whitesmoke;

    /* Rounded Borders */
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    border-color: #dededd


}

#statistics
{
    background-color: whitesmoke;
    border-color: #DEDEDD;
    border-radius: 20px 20px 20px 20px;
    border-style: solid;
    float: left;
    margin-bottom: 20px;
    margin-left: 60px;
    margin-top: 20px;
    padding-bottom: 20px;
    padding-left: 6px;
    padding-right: 6px;
    position: relative;
    width: 200px;

    /* Rounded Borders */
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    border-color: #dededd


}

#piechart
{
    border-radius: 20px 20px 20px 20px;
    float: left;
    margin-bottom: 20px;
    margin-left: 262px;
    margin-top: -168px;
    padding-bottom: 20px;
    padding-left: 6px;
    padding-right: 6px;
    position: relative;
    width: 300px;

    /* Rounded Borders */
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    border-color: #dededd


}

#user-view-item
{
    background-color:#fdfdfd;
    width:280px;
    margin-top:20px;
    margin-bottom:20px;
    position: relative;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 50px;
    position: auto;
    float: left;
    margin: 20px;


    /* Rounded Borders */
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    border-color: #dededd

    /* Shadow on div */
    box-shadow: 7px 7px 8px #818181;
    -webkit-box-shadow: 7px 7px 8px #818181;
    -moz-box-shadow: 7px 7px 8px #818181;
    filter: progid:DXImageTransform.Microsoft.dropShadow(color=#818181, offX=7, offY=7, positive=true);
}

#view-specific-user
{
    background-color:#fdfdfd;
    width:212px;
    margin-top:20px;
    margin-bottom:20px;
    position: relative;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 50px;
    position: auto;
    float: left;
    margin-left: 39%;
    

    /* Rounded Borders */
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    border-color: #dededd

    /* Shadow on div */
    box-shadow: 7px 7px 8px #818181;
    -webkit-box-shadow: 7px 7px 8px #818181;
    -moz-box-shadow: 7px 7px 8px #818181;
    filter: progid:DXImageTransform.Microsoft.dropShadow(color=#818181, offX=7, offY=7, positive=true);
}

#info-view-item
{
    background-color:#fdfdfd;
    width:215px;
    margin-top:20px;
    margin-bottom:20px;
    position: relative;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 50px;
    position: auto;
    float: left;
    margin: 5px;
    border-style:solid;
    background-color: whitesmoke;


    /* Rounded Borders */
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    border-color: #dededd

}

#agreement-view-item
{
    background-color: whitesmoke;
    width:198px;
    margin-top:20px;
    margin-bottom:20px;
    position: relative;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 50px;
    position: auto;
    float: left;
    margin: 5px;
    border-style:solid;
    

    /* Rounded Borders */
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    border-color: #dededd


}


#view_first_line
{
    margin-left: 25%;
    width: 1000px;
}

#view_second_line
{
    background-color:#fdfdfd;
    width:831px;
    height: 600px;
    margin-top:20px;
    margin-bottom:20px;
    position: relative;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    position: auto;
    float: left;
    margin: 20px;


    /* Rounded Borders */
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -khtml-border-radius: 20px;
    border-radius: 20px;
    border-color: #dededd

    /* Shadow on div */
    box-shadow: 7px 7px 8px #818181;
    -webkit-box-shadow: 7px 7px 8px #818181;
    -moz-box-shadow: 7px 7px 8px #818181;
    filter: progid:DXImageTransform.Microsoft.dropShadow(color=#818181, offX=7, offY=7, positive=true);
}

#btn_update
{
    margin-top: 50%;
    margin-left: 20%;
}

.button_onstock
{
    background-image: url('/images/onstock-link.png');
    background-repeat:no-repeat;
    background-color: #cccccc;
    border-bottom:solid;
    border-left: #cccccc;
    border-right:solid;
    border-top: #cccccc;
    border-width: 1px;
    color: black;
    width: 130px;
    font-family: Verdana, Arial
}

.button_changeuser
{
    background-image: url('/images/user-link.png');
    background-repeat:no-repeat;
    background-color: #cccccc;
    border-bottom:solid;
    border-left: #cccccc;
    border-right:solid;
    border-top: #cccccc;
    border-width: 1px;
    color: black;
    width: 130px;
    font-family: Verdana, Arial
}

#btn_onstock
{
    margin-top: 14%;
    margin-left: -37%;
    position: relative;
}

#pagelist li
{
display: inline;
list-style-type: none;
}

#titletext
{
    font-family: Verdana;
    font-size: 22px;
    margin-left: 1%;
    position: relative;
    font-weight: bold;
}

#home-img
{
    margin-left: 32%;
    position: relative;
    height: 22px;
}

#register-img
{
    margin-left: 32%;
    position: relative;
    height: 22px;
}

#active-img
{
    margin-left: -20%;
    position: relative;
    height: 22px;
}

#remove-img
{
    margin-left: -20%;
    position: relative;
    height: 22px;
}

#supportend-img
{
    margin-left: -53%;
    position: relative;
    height: 22px;
}

#onstock-img
{
    margin-left: -20%;
    position: relative;
    height: 22px;
}

#monitors-img
{
    margin-left: -20%;
    position: relative;
    height: 22px;
}

#laptops-img
{
    margin-left: -20%;
    position: relative;
    height: 22px;
}

#desktops-img
{
    margin-left: -20%;
    position: relative;
    height: 22px;
}

#users-img
{
    margin-left: -20%;
    position: relative;
    height: 22px;
}

#write_off_info
{
    margin-left: -59%;
    position: absolute;
    margin-top: 30px;
}

#write_off_info table
{
    border-width:1px;
    border-style:dotted;
}

#write_off_info table tr th
{
    border-width:1px;
    border-style:dotted;
}

#write_off_info table tr td
{
    border-width:1px;
    border-style:dotted;
}