<?php echo $this->doctype() ?>
<html>
    <head>

	<LINK REL="SHORTCUT ICON" HREF="images/home-link.png">
	
        <script language="javascript">
        function toggle2(showHideDiv, switchTextDiv) {
            var ele = document.getElementById(showHideDiv);
            var text = document.getElementById(switchTextDiv);
            if(ele.style.display == "block") {
                ele.style.display = "none";
                text.innerHTML = switchTextDiv;
            }
            else {
                ele.style.display = "block";
                text.innerHTML = switchTextDiv;
            }
        }
    </script>

        <title>Inventory</title>
        <?php
        $this->headLink()
                ->prependStylesheet('/css/inventory.css')
                ->appendStylesheet('/css/ui-lightness/jquery-ui-1.7.3.custom.css');

        

         
        echo $this->headLink();        
        echo $this->JQuery()
                ->setVersion('1.4.2')
                ->setUIVersion('1.8.2'); ?>

    </head>
    <body onload = "document.getElementById('product_nr_id').focus();">
        <div id="header"><img src="/images/logo.gif" align="left">

            <span id="titletext">ITS INVENTORY</span>

        </div>
        
        <div id="linkborder">
            <a href="../index"><img src="../images/home-link.png" border="0">Home</a> |
            <a href="../Registration/newregistration"><img src="../images/register-link.png" border="0">Register</a> |
            <a href="../List/activedevice"><img src="../images/active-link.png" border="0">Active devices</a> |
            <a href="../List/inactivedevice"><img src="../images/remove-link.png" border="0">Removed devices</a> |
            <a href="../List/supportending"><img src="../images/supportending-link.png" border="0">Support ending</a> |
            <a href="../List/onstock"><img src="../images/onstock-link.png" border="0">Device on stock</a> |
            <a href="../List/monitors"><img src="../images/monitor-link.png" border="0">Monitors</a> |
            <a href="../List/laptops"><img src="../images/laptop-link.png" border="0">Laptops</a> |
            <a href="../List/desktops"><img src="../images/desktop-link.png" border="0">Desktops</a> |
            <a href="../List/users"><img src="../images/user-link.png" border="0">Users</a> |
            <a href="../Logger/index"><img src="../images/logger-link.png" border="0">Logs</a>

        </div>
<?php echo $this->layout()->content; ?>
        <div id="footer"><a href="http://got001683/">Jeppesen ITS Tools</a></div>
    </body>
</html>