<center>
    <h1>ITS INVENTORY</h1>
</center>
<div id="view-search-results">
    <center>

        <div id="find_device">
            <b>FIND USER</b><img src="../images/find.jpg">
            <form name="frmfind" action="finduser" method="POST">
                <table>
                    <tr>
                        <td><input type="text" name="searchstring"></td>
                        <td><input type="submit" name="btn_find" value="Find"></td>
                    </tr>
                </table>
            </form>
        </div>

        <h3>Search result for <?php echo "<b><i><u>" . $this->cond . "</u></i></b>"; ?></h3>
        <?php echo sizeof($this->result) . " users found" ?>
    </center>
    <div id="active_devices">
        <?php
        if (sizeof($this->result) == 0)
        {
            echo "<h4>No results found</h4>";
        } else
        {
            echo "<table cellspacing='0' cellpadding='3' width='900'><tr>
                <th>Fullname</th>
                <th>Username</th>
                <th>Responsible</th>
                <th>Department</th>
                </tr>";
            for ($i = 0; $i < sizeof($this->result); $i++)
            {
                //Get the username

                if ($i % 2 > 0)
                {
                    echo "<tr>
                          <td><a href='viewuser?id=" . $this->result[$i]['id'] . "'>" . $this->result[$i]['real_name'] . "</a></td>
                          <td>" . $this->result[$i]['user_name'] . "</td>
                          <td>" . $this->result[$i]['responsible'] . "</td>
                          <td>" . $this->result[$i]['department'] . "</td>";
                    if ($this->result[$i]['consultant'] == 1)
                    {
                        echo "<td><img src='../images/consultant.png'></td></tr>";
                    } else
                    {
                        echo "<td><img src='../images/employee.png'></td></tr>";
                    }
                } else
                {
                    echo "<tr>
                          <td bgcolor='#BCE3E8'><a href='viewuser?id=" . $this->result[$i]['id'] . "'>" . $this->result[$i]['real_name'] . "</a></td>
                          <td bgcolor='#BCE3E8'>" . $this->result[$i]['user_name'] . "</td>
                          <td bgcolor='#BCE3E8'>" . $this->result[$i]['responsible'] . "</td>
                          <td bgcolor='#BCE3E8'>" . $this->result[$i]['department'] . "</td>";
                    if ($this->result[$i]['consultant'] == 1)
                    {
                        echo "<td bgcolor='#BCE3E8'><img src='../images/consultant.png'></td></tr>";
                    } else
                    {
                        echo "<td bgcolor='#BCE3E8'><img src='../images/employee.png'></td></tr>";
                    }
                }
            }
            echo "</table>";
        }
        ?>
    </div>
</div>