<center>
    <h1>ITS INVENTORY</h1>
</center>
<div id="view-search-results">
    <center>

        <div id="find_device">
            <b>FIND DEVICE</b><img src="../images/find.jpg">
            <form name="frmfind" action="finddevice" method="POST">
                <table>
                    <tr>
                        <td><input type="text" name="searchstring"></td>
                        <td><input type="submit" name="btn_find" value="Find"></td>
                    </tr>
                </table>
            </form>
        </div>

        <h3>Search result for <?php echo "<b><i><u>" . $this->cond . "</u></i></b>"; ?></h3>
        <?php echo sizeof($this->result) . " devices found" ?>
    </center>
    <div id="active_devices">
        <?php
        if (sizeof($this->result) == 0)
        {
            echo "<h4>No results found</h4>";
        } else
        {
            echo "<table cellspacing='0' cellpadding='3' width='900'><tr>
                <th>GOT#</th>
                <th>Ticket#</th>
                <th>Hostname</th>
                <th>Inv. type</th>
                <th>Model</th>
                <th>Type</th>
                <th>Serial#</th>
                <th>Support end</th>
                <th>User</th>
                </tr>";
            for ($i = 0; $i < sizeof($this->result); $i++)
            {
                //Get the username

                if ($i % 2 > 0)
                {
                    echo "<tr>";
                    if($this->result[$i]['active'] == 1)
                    {
                        echo "<td><a href='viewitem?id=" . $this->result[$i]['id'] . "'>" . $this->result[$i]['got_nr'] . "</a></td>";
                    }
                    else
                    {
                        echo "<td><a href='viewitem?id=" . $this->result[$i]['id'] . "'><font color='red'>" . $this->result[$i]['got_nr'] . "</font></a></td>";
                    }
                    echo "
                          <td>" . $this->result[$i]['ticket_nr'] . "</td>
                          <td>" . $this->result[$i]['host_name'] . "</td>
                          <td>" . $this->result[$i]['inv_type'] . "</td>
                          <td>" . $this->result[$i]['model'] . "</td>
                          <td>" . $this->result[$i]['type'] . "</td>
                          <td>" . $this->result[$i]['serial_nr'] . "</td>
                          <td>" . $this->result[$i]['support_end'] . "</td>
                          <td><a href='viewuser?id=" . $this->result[$i]['user_id'] . "'>" . $this->result[$i]['real_name']. "</a></td>";
                          if($this->result[$i]['consultant'] == 1)
                          {
                            echo "<td><img src='../images/consultant.png'></td></tr>";
                          }
                          else
                          {
                            echo "<td><img src='../images/employee.png'></td></tr>";
                          }
                } else
                {
                    echo "<tr>";
                    if($this->result[$i]['active'] == 1)
                    {
                        echo "<td bgcolor='#BCE3E8'><a href='viewitem?id=" . $this->result[$i]['id'] . "'>" . $this->result[$i]['got_nr'] . "</a></td>";
                    }
                    else
                    {
                        echo "<td bgcolor='#BCE3E8'><a href='viewitem?id=" . $this->result[$i]['id'] . "'><font color='red'>" . $this->result[$i]['got_nr'] . "</font></a></td>";
                    }
                    echo "
                          <td bgcolor='#BCE3E8'>" . $this->result[$i]['ticket_nr'] . "</td>
                          <td bgcolor='#BCE3E8'>" . $this->result[$i]['host_name'] . "</td>
                          <td bgcolor='#BCE3E8'>" . $this->result[$i]['inv_type'] . "</td>
                          <td bgcolor='#BCE3E8'>" . $this->result[$i]['model'] . "</td>
                          <td bgcolor='#BCE3E8'>" . $this->result[$i]['type'] . "</td>
                          <td bgcolor='#BCE3E8'>" . $this->result[$i]['serial_nr'] . "</td>
                          <td bgcolor='#BCE3E8'>" . $this->result[$i]['support_end'] . "</td>
                          <td bgcolor='#BCE3E8'><a href='viewuser?id=" . $this->result[$i]['user_id'] . "'>" . $this->result[$i]['real_name']. "</a></td>";
                          if($this->result[$i]['consultant'] == 1)
                          {
                            echo "<td bgcolor='#BCE3E8'><img src='../images/consultant.png'></td></tr>";
                          }
                          else
                          {
                            echo "<td bgcolor='#BCE3E8'><img src='../images/employee.png'></td></tr>";
                          }
                }
            }
            echo "</table>";
        }
        ?>
    </div>
</div>