<div id="view-active-devices">
    <center>
        <div id="remove-img">
            <img src="../images/remove-page.png">
        </div>
        <h3>Removed devices</h3>
        <?php echo $this->total . " devices found <a href='../removed_devices.xls'><img src='../images/excel.gif'></a>"; ?>
    </center>
    <div id="active_devices">
        <?php
        /*
         * Paginator list above
         */
        echo '<ul id="pagelist">';
        for ($i = 0; $i < sizeof($this->list); $i++)
        {
            //Echo out the list of pages
            $page = $i + 1;
            if ($this->currentpage == $page)
            {
                echo '<li><a href="inactivedevice?page=' . $page . '"><b><u>' . $page . '</u></b></a></li>  ';
            } else
            {
                echo '<li><a href="inactivedevice?page=' . $page . '">' . $page . '</a></li>  ';
            }
        }
        echo '</ul>';

        if (sizeof($this->list) != 0)
        {
            echo "<table cellspacing='0' cellpadding='3' width='900'><tr>
                <th>GOT#</th>
                <th>Ticket#</th>
                <th>Hostname</th>
                <th>Inv. type</th>
                <th>Model</th>
                <th>Type</th>
                <th>Serial#</th>
                <th>Support end</th>
                <th>User</th>
                </tr>";
            $i = 0;
            foreach ($this->list as $item)
            {
                if ($i % 2 > 0)
                {
                    echo "<tr>
                          <td><a href='viewitem?id=" . $item['id'] . "'>" . $item['got_nr'] . "</a></td>
                          <td>" . $item['ticket_nr'] . "</td>
                          <td>" . $item['host_name'] . "</td>
                          <td>" . $item['inv_type'] . "</td>
                          <td>" . $item['model'] . "</td>
                          <td>" . $item['type'] . "</td>
                          <td>" . $item['serial_nr'] . "</td>
                          <td>" . $item['support_end'] . "</td>
                          <td>" . $item['real_name'] . "</td></tr>";
                } else
                {
                    echo "<tr>
                          <td bgcolor='#BCE3E8'><a href='viewitem?id=" . $item['id'] . "'>" . $item['got_nr'] . "</a></td>
                          <td bgcolor='#BCE3E8'>" . $item['ticket_nr'] . "</td>
                          <td bgcolor='#BCE3E8'>" . $item['host_name'] . "</td>
                          <td bgcolor='#BCE3E8'>" . $item['inv_type'] . "</td>
                          <td bgcolor='#BCE3E8'>" . $item['model'] . "</td>
                          <td bgcolor='#BCE3E8'>" . $item['type'] . "</td>
                          <td bgcolor='#BCE3E8'>" . $item['serial_nr'] . "</td>
                          <td bgcolor='#BCE3E8'>" . $item['support_end'] . "</td>
                          <td bgcolor='#BCE3E8'>" . $item['real_name'] . "</td></tr>";
                }
                $i++;
            }
            echo "</table>";
        }
        /*
         * Paginator list below
         */
        echo '<ul id="pagelist">';
        for ($i = 0; $i < sizeof($this->list); $i++)
        {
            //Echo out the list of pages
            $page = $i + 1;
            if ($this->currentpage == $page)
            {
                echo '<li><a href="inactivedevice?page=' . $page . '"><b><u>' . $page . '</u></b></a></li>  ';
            } else
            {
                echo '<li><a href="inactivedevice?page=' . $page . '">' . $page . '</a></li>  ';
            }
        }
        echo '</ul>';
        ?>
    </div>
</div>