<div id="view-active-devices">
    <center>
        <div id="monitors-img">
            <img src="../images/monitor-page.png">
        </div>
        <h3>Monitors</h3>
        <?php echo $this->total . " devices found <a href='../monitors.xls'><img src='../images/excel.gif'></a>"; ?>
    </center>
    <div id="active_devices">
        <?php
        /*
         * Paginator list above
         */
        echo '<ul id="pagelist">';
        for ($i = 0; $i < sizeof($this->list); $i++)
        {
            //Echo out the list of pages
            $page = $i + 1;
            if ($this->currentpage == $page)
            {
                echo '<li><a href="monitors?page=' . $page . '"><b><u>' . $page . '</u></b></a></li>  ';
            } else
            {
                echo '<li><a href="monitors?page=' . $page . '">' . $page . '</a></li>  ';
            }
        }
        echo '</ul>';

        echo "<table cellspacing='0' cellpadding='3' width='900'><tr>
                <th>GOT#</th>
                <th>Ticket#</th>
                <th>Hostname</th>
                <th>Inv. type</th>
                <th>Model</th>
                <th>Type</th>
                <th>Serial#</th>
                <th>Support end</th>
                <th>User</th>
                </tr>";
        $i = 0;
        foreach ($this->list as $item)
        {
            if ($i % 2 > 0)
            {
                echo "<tr>
                          <td><a href='viewitem?id=" . $item['id'] . "'>" . $item['got_nr'] . "</a></td>
                          <td>" . $item['ticket_nr'] . "</td>
                          <td>" . $item['host_name'] . "</td>
                          <td>" . $item['inv_type'] . "</td>
                          <td>" . $item['model'] . "</td>
                          <td>" . $item['type'] . "</td>
                          <td>" . $item['serial_nr'] . "</td>
                          <td>" . $item['support_end'] . "</td>
                          <td><a href='viewuser?id=" . $item['user_id'] . "'>" . $item['real_name'] . "</a></td>";
                if ($item['consultant'] == 1)
                {
                    echo "<td><img src='../images/consultant.png'></td></tr>";
                } else
                {
                    echo "<td><img src='../images/employee.png'></td></tr>";
                }
            } else
            {
                echo "<tr>
                          <td bgcolor='#BCE3E8'><a href='viewitem?id=" . $item['id'] . "'>" . $item['got_nr'] . "</a></td>
                          <td bgcolor='#BCE3E8'>" . $item['ticket_nr'] . "</td>
                          <td bgcolor='#BCE3E8'>" . $item['host_name'] . "</td>
                          <td bgcolor='#BCE3E8'>" . $item['inv_type'] . "</td>
                          <td bgcolor='#BCE3E8'>" . $item['model'] . "</td>
                          <td bgcolor='#BCE3E8'>" . $item['type'] . "</td>
                          <td bgcolor='#BCE3E8'>" . $item['serial_nr'] . "</td>
                          <td bgcolor='#BCE3E8'>" . $item['support_end'] . "</td>
                          <td bgcolor='#BCE3E8'><a href='viewuser?id=" . $item['user_id'] . "'>" . $item['real_name'] . "</a></td>";
                if ($item['consultant'] == 1)
                {
                    echo "<td bgcolor='#BCE3E8'><img src='../images/consultant.png'></td></tr>";
                } else
                {
                    echo "<td bgcolor='#BCE3E8'><img src='../images/employee.png'></td></tr>";
                }
            }
            $i++;
        }
        echo "</table>";

        /*
         * Paginator list below
         */
        echo '<ul id="pagelist">';
        for ($i = 0; $i < sizeof($this->list); $i++)
        {
            //Echo out the list of pages
            $page = $i + 1;
            if ($this->currentpage == $page)
            {
                echo '<li><a href="monitors?page=' . $page . '"><b><u>' . $page . '</u></b></a></li>  ';
            } else
            {
                echo '<li><a href="monitors?page=' . $page . '">' . $page . '</a></li>  ';
            }
        }
        echo '</ul>';
        ?>
    </div>
</div>