<div id="view-users">
    <center>
        <div id="users-img">
            <img src="../images/user-page.png">
        </div>
        <h3>Users</h3>
        <?php echo $this->total . " users found <a href='../users.xls'><img src='../images/excel.gif'></a>"; ?>
    </center>
    <?php

    echo '
<span id="find_device_home">
        <b>FIND USER</b><img src="images/find.jpg">
        <form name="frmfind" action="finduser" method="POST">
            <table>
                <tr>
                    <td><input type="text" name="searchstring"></td>
                    <td><input type="submit" name="btn_find" value="Find"></td>
                </tr>
            </table>
        </form>
    </span>
    ';

        /*
         * Paginator list above
         */
        echo '<ul id="pagelist">';
        for ($i = 0; $i < sizeof($this->list); $i++)
        {
            //Echo out the list of pages
            $page = $i + 1;
            if ($this->currentpage == $page)
            {
                echo '<li><a href="users?page=' . $page . '"><b><u>' . $page . '</u></b></a></li>  ';
            } else
            {
                echo '<li><a href="users?page=' . $page . '">' . $page . '</a></li>  ';
            }
        }
        echo '</ul>';

        echo "<table cellspacing='0' cellpadding='3' width='600'><tr>
                <th>Full name</th>
                <th>Username</th>
                <th>Responsible</th>
                <th>Department</th>
                </tr>";

        $i = 0;
        foreach ($this->list as $item)
        {
            if ($i % 2 > 0)
            {
                echo "<tr>
                          <td><a href='viewuser?id=" . $item['id'] . "'>" . $item['real_name'] . "</a></td>
                          <td>" . $item['user_name'] . "</td>
                          <td>" . $item['responsible'] . "</td>
                          <td>" . $item['department'] . "</td>";
                          if($item['consultant'] == 1)
                          {
                            echo "<td><img src='../images/consultant.png'></td></tr>";
                          }
                          else
                          {
                            echo "<td><img src='../images/employee.png'></td></tr>";
                          }

            } else
            {
                echo "<tr>
                          <td bgcolor='#BCE3E8'><a href='viewuser?id=" . $item['id'] . "'>" . $item['real_name'] . "</a></td>
                          <td bgcolor='#BCE3E8'>" . $item['user_name'] . "</td>
                          <td bgcolor='#BCE3E8'>" . $item['responsible'] . "</td>
                          <td bgcolor='#BCE3E8'>" . $item['department'] . "</td>";
                          if($item['consultant'] == 1)
                          {
                            echo "<td bgcolor='#BCE3E8'><img src='../images/consultant.png'></td></tr>";
                          }
                          else
                          {
                            echo "<td bgcolor='#BCE3E8'><img src='../images/employee.png'></td></tr>";
                          }
            }
            $i++;
        }
        echo "</table>";

        /*
         * Paginator list above
         */
        echo '<ul id="pagelist">';
        for ($i = 0; $i < sizeof($this->list); $i++)
        {
            //Echo out the list of pages
            $page = $i + 1;
            if ($this->currentpage == $page)
            {
                echo '<li><a href="users?page=' . $page . '"><b><u>' . $page . '</u></b></a></li>  ';
            } else
            {
                echo '<li><a href="users?page=' . $page . '">' . $page . '</a></li>  ';
            }
        }
        echo '</ul>';
    ?>

</div>