<center>
    <h1>ITS INVENTORY</h1>
</center>
<!-- FIRST DIV WITH DEVICE AND USER -->

<?php
/*
 * AUTOCOMPLETE FIELD: Get array information about users into setJQueryParam
 */
$ac_user = new ZendX_JQuery_Form_Element_AutoComplete('real_name', null);
$ac_user->setLabel('');
$realnames = $_SESSION['allusernames'];
$namearray = null;
for ($i = 0; $i < sizeof($realnames); $i++)
{
    $namearray[$i] = $realnames[$i]['real_name']; 
}

//var_dump($namearray);
$ac_user->setJQueryParam('data', $namearray);
$ac_user->setLabel("Full name:");
$active_user = $this->user['real_name']; 
$ac_user->setValue($this->user['real_name']);
?>
<span id="view-specific-user">
    <form name="frmChangeUser" action="/list/updateitem" method="post">
        <center>
            <h3><?php echo $this->user['real_name']; ?></h3>
        </center>

        <table>

            <tr><td align="right" valign="bottom">Full name:</td><td align="left"><?php echo $ac_user; ?></td></tr>

            <tr><td align="right">Username:</td><td><input type="text" name="user_name" value="<?php echo $this->user['user_name']; ?>"></td></tr>
<?php
    if($this->user['consultant'] == 1)
    {
        echo '<tr><td align="right">Consultant:</td><td><input type="checkbox" name="consultant" value="1" checked/></td></tr>';
    }
    else
    {
        echo '<tr><td align="right">Consultant:</td><td><input type="checkbox" name="consultant" value="1"/></td></tr>';
    }
?>
            <tr><td align="right">Responsible:</td><td><input type="text" name="responsible" value="<?php echo $this->user['responsible']; ?>"></td></tr>
            <tr><td align="right">Department:</td><td><input type="text" name="department" value="<?php echo $this->user['department']; ?>"></td></tr>
            <tr><td></td><td><input type="submit" name="btn_update_user" value="Update info"></td></tr>
        </table>
        <input type="hidden" name="user_id" value="<?php echo $this->user['id']; ?>">
        <input type="hidden" name="page" value="viewuser">

    </form>

    <!-- Display user devices -->
    <center>
        <h4>User devices</h4>
        <table>
            <tr><th>GOT#</th><th>Type</th></tr>
<?php
            for ($i = 0; $i < sizeof($this->devices); $i++)
            {
                echo '<tr><td><a href="viewitem?id=' . $this->devices[$i]['id'] . '">' . $this->devices[$i]['got_nr'] . '</a></td><td>' . $this->devices[$i]['inv_type'] . '</td></tr>';
            }
?>
        </table>
    </center>

</span>
<!-- END OF FIRST DIV WITH DEVICE AND USER -->
