<form name="frmviewitem" action="/list/updateitem" method="post">

    <!-- SECOND DIV WITH INFO AND AGREEMENT -->
    <span id="view_second_line">
        <?php
        if($this->list['onstock'] == 1)
        {
            echo "<img src='../images/onstock-page.png'>";
        }
        ?>
        <h1>
            <?php
            if ($this->list['active'] == 0)
            {
                echo "<font color='red'>" . $this->info[0]['got_nr'] . "</font>";
            } else
            {
                echo $this->info[0]['got_nr'];
            }
            ?>
        </h1>
        <span id="device-view-item">
            <center>
                <h3>Device</h3>
            </center>
            <table>
                <tr><td align="right">Model:</td><td><input type="text" name="model" value="<?php echo $this->list['model']; ?>"></td></tr>
                <tr><td align="right">Product#:</td><td><input type="text" name="product_nr" value="<?php echo $this->list['product_nr']; ?>"></td></tr>
                <tr><td align="right">Type:</td><td><input type="text" name="type" size="10" value="<?php echo $this->list['type']; ?>"></td></tr>
                <tr><td align="right">Serial#:</td><td><input type="text" name="serial_nr" value="<?php echo $this->list['serial_nr']; ?>"></td></tr>
                <tr><td align="right">Cpu:</td><td><input type="text" name="cpu" value="<?php echo $this->list['cpu']; ?>"></td></tr>
                <tr><td align="right">Disc:</td><td><input type="text" name="disc" size="8" value="<?php echo $this->list['disc']; ?>"></td></tr>
                <tr><td align="right">Ram:</td><td><input type="text" name="ram" size="4" value="<?php echo $this->list['ram']; ?>"></td></tr>
                <tr><td align="right">Graphics:</td><td><input type="text" name="graphics" value="<?php echo $this->list['graphics']; ?>"></td></tr>
                <tr><td align="right">OS:</td><td><input type="text" name="os" size="4" value="<?php echo $this->list['os']; ?>"></td></tr>
                <?php
                if ($this->list['active'] == 1)
                {
                    echo '<tr><td align="right">Active</td><td><input type="radio" name="active" value="1" checked></td></tr>';
                    echo '<tr><td align="right">Removed</td><td><input type="radio" name="active" value="0"></td></tr>';
                } else
                {
                    echo '<tr><td align="right">Active</td><td><input type="radio" name="active" value="1"></td></tr>';
                    echo '<tr><td align="right">Removed</td><td><input type="radio" name="active" value="0" checked></td></tr>';
                }
                ?>

            </table>
            <input type="hidden" name="device_id" value="<?php echo $this->list['id']; ?>">
            <input type="hidden" name="onstock" value="<?php echo $this->list['onstock']; ?>">
        </span>

        <span id="info-view-item">
            <center>
                <h3>Information</h3>
            </center>
            <table>
                <tr><td align="right">GOT#:</td><td><input type="text" name="got_nr" size="12" value="<?php echo $this->info[0]['got_nr']; ?>"></td></tr>
                <?php
                $inst_date = new ZendX_JQuery_Form_Element_DatePicker("inst_date");
                $inst_date->setJQueryParam('dateFormat', 'yy-mm-dd');
                $inst_date->setValue($this->info[0]['inst_date']);
                ?>
                <tr><td align="right" valign="bottom">* Installation date:</td><td><?php echo $inst_date; ?></td></tr>
                <!--
                <tr><td align="right">Installation date:</td><td><input type="text" name="inst_date" value="<?php echo $this->info[0]['inst_date']; ?>"></td></tr>
                -->
                <tr><td align="right">Host name:</td><td><input type="text" name="host_name" size="10" value="<?php echo $this->info[0]['host_name']; ?>"></td></tr>
                <tr><td align="right">Usage:</td><td><input type="text" name="usage" value="<?php echo $this->info[0]['usage']; ?>"></td></tr>
                <tr><td align="right">Inventory type:</td><td><input type="text" name="inv_type" value="<?php echo $this->info[0]['inv_type']; ?>"></td></tr>
                <tr><td align="right">Manufacturer:</td><td><input type="text" name="manufacturer" value="<?php echo $this->info[0]['manufacturer']; ?>"></td></tr>
                <tr><td align="right">Maconomy asset#:</td><td><input type="text" name="maconomy_asset_nr" value="<?php echo $this->info[0]['maconomy_asset_nr']; ?>"></td></tr>
                <tr><td align="right">Note:</td><td><input type="text" name="note" value="<?php echo $this->info[0]['note']; ?>"></td></tr>
                <tr><td align="right">Password:</td><td><input type="text" name="password" value="<?php echo $this->info[0]['password']; ?>"></td></tr>
            </table>
            <input type="hidden" name="info_id" value="<?php echo $this->info[0]['id']; ?>">
        </span>

        <span id="agreement-view-item">
            <center>
                <h3>Agreement</h3>
            </center>
            <table>
                <tr><td align="right">Ticket#:</td><td><input type="text" name="ticket_nr" size="8" value="<?php echo $this->agreement[0]['ticket_nr']; ?>"></td></tr>
                <tr><td align="right">Support agreement:</td><td><input type="text" name="support_agreement" value="<?php echo $this->agreement[0]['support_agreement']; ?>"></td></tr>
                <?php
                $support_end = new ZendX_JQuery_Form_Element_DatePicker("support_end");
                $support_end->setJQueryParam('dateFormat', 'yy-mm-dd');
                $support_end->setValue($this->agreement[0]['support_end']);
                ?>
                <tr><td align="right" valign="bottom">* Support end:</td><td><?php echo $support_end; ?></td></tr>
                <!--
                <tr><td align="right">Support end:</td><td><input type="text" name="support_end" value="<?php //echo $this->agreement[0]['support_end'];     ?>"></td></tr>
                -->
                <tr><td align="right">Bought from:</td><td><input type="text" name="bought_from" value="<?php echo $this->agreement[0]['bought_from']; ?>"></td></tr>

                <?php
                $bought_on = new ZendX_JQuery_Form_Element_DatePicker("bought_on");
                $bought_on->setJQueryParam('dateFormat', 'yy-mm-dd');
                $bought_on->setValue($this->agreement[0]['bought_on']);
                ?>
                <tr><td align="right" valign="bottom">* Bought on:</td><td><?php echo $bought_on; ?></td></tr>
                <!--
                <tr><td align="right">Bought on:</td><td><input type="text" name="bought_on" value="<?php echo $this->agreement[0]['bought_on']; ?>"></td></tr>
                -->
                <tr><td align="right">Order#:</td><td><input type="text" name="order_nr" size="10" value="<?php echo $this->agreement[0]['order_nr']; ?>"></td></tr>
            </table>
            <input type="hidden" name="agreement_id" value="<?php echo $this->agreement[0]['id']; ?>">
            <input type="hidden" name="user_id" value="<?php echo $this->user[0]['id']; ?>">
            <input type="hidden" name="info_id" value="<?php echo $this->info[0]['id']; ?>">
            <input type="hidden" name="device_id1" value="<?php echo $this->list['id']; ?>">

        </span>
        <span id="btn_update"><input type="submit" name="btn_update" value="Update info"></span>

</form>


<form name="frmSetDeviceOnStock" action="/list/setdeviceonstock" method="post">
    <input type="hidden" name="device_id1" value="<?php echo $this->list['id']; ?>">
    <input type="submit" name="btn_set_on_stock" value="Set on stock" class="button_onstock">
</form>

<?php
if ($this->list['active'] == 0)
{
    echo '<span id="write_off_info">';
    echo "<b>Write off information</b><br>";
    echo '<table border="1">';
    
    echo '<tr><th>GOT#</th><th>Inst date</th><th>Name</th><th>Support agreement</th><th>Support end</th><th>Bought from</th><th>Bought on</th><th>Order#</th><th>Asset#</th></tr>';
    echo '<tr>';
    echo '<td>'.$this->info[0]['got_nr'].'</td>';
    echo '<td>'.$this->info[0]['inst_date'].'</td>';
    echo '<td>'.$this->user[0]['real_name'].'</td>';
    echo '<td>'.$this->agreement[0]['support_agreement'].'</td>';
    echo '<td>'.$this->agreement[0]['support_end'].'</td>';
    echo '<td>'.$this->agreement[0]['bought_from'].'</td>';
    echo '<td>'.$this->agreement[0]['bought_on'].'</td>';
    echo '<td>'.$this->agreement[0]['order_nr'].'</td>';
    echo '<td>'.$this->info[0]['maconomy_asset_nr'].'</td>';
    echo '</tr>';
    echo '</table>';
    echo '</span>';
}
?>

</span>


<!-- END OF SECOND DIV WITH INFO AND AGREEMENT -->

<!-- FIRST DIV WITH DEVICE AND USER -->
<span id="view_first_line">


    <?php
                /*
                 * AUTOCOMPLETE FIELD: Get array information about users into setJQueryParam
                 */
                $ac_user = new ZendX_JQuery_Form_Element_AutoComplete('real_name', null);
                $ac_user->setLabel('');
                $realnames = $_SESSION['allusernames'];
                $namearray = null;
                for ($i = 0; $i < sizeof($realnames); $i++)
                {
                    $namearray[$i] = mb_convert_encoding($realnames[$i]['real_name'], "UTF-8", "ISO-8859-1");
                }

                //var_dump($namearray);
                $ac_user->setJQueryParam('data', $namearray);
                $ac_user->setLabel("Full name:");
                $active_user = mb_convert_encoding($this->user[0]['real_name'], "ISO-8859-1", "UTF-8");
                $ac_user->setValue($this->user[0]['real_name']);
    ?>
                <span id="user-view-item">
                    <form name="frmChangeUser" action="/list/updateitem" method="post">
                        <center>
                            <h3>User</h3>
                        </center>

                        <table>

                            <tr><td align="right" valign="bottom">Full name:</td><td align="left"><?php echo $ac_user; ?></td></tr>

                            <tr><td align="right">Username:</td><td><input type="text" name="user_name" value="<?php echo $this->user[0]['user_name']; ?>"></td></tr>
                <?php
                if ($this->user[0]['consultant'] == 1)
                {
                    echo '<tr><td align="right">Consultant:</td><td><input type="checkbox" name="consultant" value="1" checked/></td></tr>';
                } else
                {
                    echo '<tr><td align="right">Consultant:</td><td><input type="checkbox" name="consultant" value="1"/></td></tr>';
                }
                ?>
                <tr><td align="right">Responsible:</td><td><input type="text" name="responsible" value="<?php echo $this->user[0]['responsible']; ?>"></td></tr>
                <tr><td align="right">Department:</td><td><input type="text" name="department" value="<?php echo $this->user[0]['department']; ?>"></td></tr>
                <tr><td><input type="submit" name="btn_change_user" value="Set as user" class="button_changeuser"></td><td><input type="submit" name="btn_update_user" value="Update info"></td></tr>
            </table>
            <input type="hidden" name="user_id" value="<?php echo $this->user[0]['id']; ?>">
            <input type="hidden" name="device_id2" value="<?php echo $this->list['id']; ?>">
        </form>

        <!-- Display user devices -->
        <center>
            <?php  
                if(isset($_GET['error']))
                {
                  echo '<font color="red">'.$_GET['error'].'</font>';
                }
            ?>
            <h4>Other devices</h4>
            <table>
                <tr><th>GOT#</th><th>Type</th></tr>
<?php
                for ($i = 0; $i < sizeof($this->otherdevices); $i++)
                {
                    //Do not list the item that we are viewing
                    if (strcmp($this->info[0]['got_nr'], $this->otherdevices[$i]['got_nr']) != 0)
                    {
                        echo '<tr><td><a href="viewitem?id=' . $this->otherdevices[$i]['id'] . '">' . $this->otherdevices[$i]['got_nr'] . '</a></td><td>' . $this->otherdevices[$i]['inv_type'] . '</td></tr>';
                    }
                }
?>
            </table>
        </center>


    </span>


</span>



<!-- END OF FIRST DIV WITH DEVICE AND USER -->
