<?php
//Usernames
$realnames = $_SESSION['allusernames'];
$namearray = null;
for ($i = 0; $i < sizeof($realnames); $i++)
{
    $namearray[$i] = mb_convert_encoding($realnames[$i]['real_name'], "UTF-8", "ISO-8859-1");
}

$ac_user = new ZendX_JQuery_Form_Element_AutoComplete('ac_user', null);
$ac_user->setJQueryParam('data', $namearray);

//Types
$models = $_SESSION['allmodels'];
$modelarray = null;
for ($i = 0; $i < sizeof($models); $i++)
{
    $modelarray[$i] = $models[$i]['model'];
}

$ac_model = new ZendX_JQuery_Form_Element_AutoComplete('ac_model', null);
$ac_model->setJQueryParam('data', $modelarray);

?>
<div id="register-img">
<img src="../images/register-page.png">
</div>
<center><h1>INVENTORY REGISTRATION</h1></center>
<div id="register-agreement">
    <center>
        <h3>New device</h3>
            
        </center>
        <form name="newdevice" action="/registration/process_newdevice" method="post">
            <table>
                <tr><td align="right">Order#:</td><td><input type="text" name="order_nr" size="7" value="<?php if(isset($_SESSION['ticket_nr'])){ echo $_SESSION['order_nr']; } ?>"></td></tr>
                <tr><td align="right">Ticket#:</td><td><input type="text" name="ticket_nr" size="7" value="<?php if(isset($_SESSION['ticket_nr'])){ echo $_SESSION['ticket_nr']; } ?>"></td></tr>
                <tr><td align="right">GOT#:</td><td><input type="text" name="got_nr" size="10" value="<?php if(isset($_SESSION['ticket_nr'])){ echo $_SESSION['got_nr']; } ?>"></td></tr>
                <tr><td align="right">Model:</td><td><?php echo $ac_model ?></td></tr>
                <tr><td align="right">Full name:</td><td><?php echo $ac_user; ?></td></tr>
                <tr><td></td><td><input type="submit" name="btn_newdevice" value="Verify registration"></td></tr>
            </table>

        </form>

</div>