<?php
//echo $this->form;

if (isset($this->reg_error))
{
    echo $this->reg_error;
}

//Usernames
$realnames = $_SESSION['allusernames'];
$namearray = null;
for ($i = 0; $i < sizeof($realnames); $i++)
{
    $namearray[$i] = mb_convert_encoding($realnames[$i]['real_name'], "UTF-8", "ISO-8859-1");
}

$ac_user = new ZendX_JQuery_Form_Element_AutoComplete('ac_user', null);
$ac_user->setJQueryParam('data', $namearray);
$ac_user->setValue($this->real_name);

//Types
$models = $_SESSION['allmodels'];
$modelarray = null;
for ($i = 0; $i < sizeof($models); $i++)
{
    $modelarray[$i] = $models[$i]['model'];
}

$ac_model = new ZendX_JQuery_Form_Element_AutoComplete('ac_model', null);
$ac_model->setJQueryParam('data', $modelarray);
$ac_model->setValue($this->model);


?>

<div id="register-img">
<img src="../images/register-page.png">
</div>
<center><h1>INVENTORY REGISTRATION</h1></center>
<div id="register-device">
    <center>
        <h3>Verify registration</h3>
    </center>
    <form name="device" action="/registration/processnewregistration" method="post">

        <TABLE> <TR><TH><center>General</center></TH><TH><center>Agreement</center></TH><TH><center>User</center></TH><TH><center>Device</center></TH></TR><TR><TD valign="top">
        <table>
            <tr><td align="right">Ticket#:</td><td><input type="text" name="ticket_nr" size="7" value="<?php echo $_SESSION['ticket_nr']; ?>"></td></tr>
            <tr><td align="right">Order#:</td><td><input type="text" name="order_nr" size="7" value="<?php echo $_SESSION['order_nr']; ?>"></td></tr>
            <tr><td align="right">GOT#:</td><td><input type="text" name="got_nr" size="10" value="<?php echo $_SESSION['got_nr']; ?>"></td></tr>
            <tr><td align="right">Product#:</td><td><input type="text" name="product_nr" id="product_nr_id" value="<?php echo $_SESSION['product_nr']; ?>"></td></tr>
            <tr><td align="right">Serial#:</td><td><input type="text" name="serial_nr" value=""></td></tr>
            <?php
                echo '<tr><td align="right">Leasing</td><td><input type="radio" name="maconomy" value="Not in asset register (Leasing)" checked></td></tr>';
                echo '<tr><td align="right">Expense</td><td><input type="radio" name="maconomy" value="Not in asset register (Expense)"></td></tr>';
            ?>
            <tr><td><a href="newregistration">[Back]</a></td><td><input type="submit" name="btn_register_device" value="Register"></td></tr>
            </table>
            </TD>
            <TD valign="top"><table>

            <?php
                $currentDate = date("Y-m-d");
                
                $bought_on = new ZendX_JQuery_Form_Element_DatePicker("bought_on");
                $bought_on->setJQueryParam('dateFormat', 'yy-mm-dd');
                $bought_on->setValue($currentDate);
                ?>
            <tr><td align="right" valign="bottom">Bought on:</td><td><?php echo $bought_on; ?></td></tr>
            <tr><td align="right">Bought from:</td><td><input type="text" name="bought_from" value="Caperio"></td></tr>
            <tr><td align="right">support agreement:</td><td><input type="text" name="support_agreement" value="3y pickup and return"></td></tr>
            
            <?php
                //Find date 3years ahead from today.
                
                //Add 3 years to current date
                $dateThreeYearsAdded = strtotime(date("Y-m-d", strtotime($currentDate)) . " +3 year");
                $support_end = new ZendX_JQuery_Form_Element_DatePicker("support_end");
                $support_end->setJQueryParam('dateFormat', 'yy-mm-dd');
                $support_end->setValue(date("Y-m-d", $dateThreeYearsAdded));
                ?>
            <tr><td align="right" valign="bottom">Support end:</td><td><?php echo $support_end; ?></td></tr>

            <tr><td align="right">Usage:</td><td>
                    <select name="usage">
                      <option value="Normal">Normal</option>
                      <option value="Lab">Lab</option>
                      <option value="No swap">No swap</option>
                      <option value="Secondary">Secondary</option>
                      <option value="Spare">Spare</option>
                      <option value="Test">Test</option>
                    </select>
                </td></tr>

            <tr><td align="right">Note:</td><td><input type="text" name="note" value=""></td></tr>
            <tr><td align="right">Password:</td><td><input type="text" name="password" value=""></td></tr>

            </table></TD><TD valign="top"><table>
            
            <tr><td align="right">Full name:</td><td><input type="text" name="real_name" value="<?php echo $_SESSION['p_user']; ?>"></td></tr>
            <tr><td align="right">Username:</td><td><input type="text" name="user_name" value="<?php echo $_SESSION['user_name']; ?>"></td></tr>
            <?php
    if($_SESSION['consultant'] == 1)
    {
        echo '<tr><td align="right">Consultant:</td><td><input type="checkbox" name="consultant" value="1" checked/></td></tr>';
    }
    else
    {
        echo '<tr><td align="right">Consultant:</td><td><input type="checkbox" name="consultant" value="1"/></td></tr>';
    }
?>
            <tr><td align="right">Responsible:</td><td><input type="text" name="responsible" value="<?php echo $_SESSION['responsible']; ?>"></td></tr>
            <tr><td align="right">Department:</td><td><input type="text" name="department" value="<?php echo $_SESSION['department']; ?>"></td></tr>

            </table></TD><TD valign="top"><table>

            <?php
                $inst_date = new ZendX_JQuery_Form_Element_DatePicker("installation_date");
                $inst_date->setJQueryParam('dateFormat', 'yy-mm-dd');
                $inst_date->setValue($currentDate);
                ?>
            <tr><td align="right">Installation date:</td><td><?php echo $inst_date; ?></td></tr>
            <tr><td align="right">Hostname:</td><td><input type="text" name="hostname" value="<?php echo $this->hostname; ?>"></td></tr>
            <tr><td align="right">Inventory type:</td><td><input type="text" name="inv_type" value="<?php echo $_SESSION['inv_type']; ?>"></td></tr>
            <tr><td align="right">Manufacturer:</td><td><input type="text" name="manufacturer" size="10" value="<?php echo $_SESSION['manufacturer']; ?>"></td></tr>
            <tr><td align="right">Model:</td><td><input type="text" name="model" size="10" value="<?php echo $_SESSION['p_model']; ?>"></td></tr>
            <tr><td align="right">Type:</td><td><input type="text" name="type" size="10" value="<?php echo $_SESSION['type']; ?>"></td></tr>
            <tr><td align="right">Cpu:</td><td><input type="text" name="cpu" value="<?php echo $_SESSION['cpu']; ?>"></td></tr>
            <tr><td align="right">Disc:</td><td><input type="text" name="disc" size="5" value="<?php echo $_SESSION['disc']; ?>"></td></tr>
            <tr><td align="right">Ram:</td><td><input type="text" name="ram" size="4" value="<?php echo $_SESSION['ram']; ?>"></td></tr>
            <tr><td align="right">Graphics:</td><td><input type="text" name="graphics" value="<?php echo $_SESSION['graphics']; ?>"></td></tr>
            <tr><td align="right">OS:</td><td><input type="text" name="os" size="4" value="<?php echo $_SESSION['os']; ?>"></td></tr>

            <?php

                echo '<tr><td align="right">Active</td><td><input type="radio" name="active" value="1" checked></td></tr>';
                echo '<tr><td align="right">Inactive</td><td><input type="radio" name="active" value="0"></td></tr>';
            
            ?>
            
        </table>

        </TD></TR></TABLE>
    </form>
</div>
