<div id="home-img">
    <img src="../images/logger-page.png">
</div>
<br><br>
<div id="logger-home">
    <?php
$currentDate = date("Y-m-d");

$datefilter = new ZendX_JQuery_Form_Element_DatePicker("datetime");
$datefilter->setJQueryParam('dateFormat', 'yy-mm-dd');
$datefilter->setValue($currentDate);
?>

    <table><tr><td>
    <form name="frmdatetime" method="post" action="logsbydate">
        <?php echo $datefilter; ?>
        <input type="submit" name="btndatetime" value="Filter by date">
    </form>
        </td><td>
    <form name="frmgotnr" method="post" action="logsbygotnr">
        <input type="text" name="gotnr" >
        <input type="submit" name="btngotnr" value="Filter by Got#">
    </form>
        </td><td><a href="index">All logs</a></td></tr></table>

        <?php
        $i = 0;
    foreach ($this->logs as $item)
    {
        echo "<div style='border: 1px solid black; background-color: #CCCCCC; padding: 5px; width: 550px;'>
            <a id='myHeader".$i."' href=\"javascript:toggle2('myContent".$i."', '".$item['got_nr']."');\" >".$item['datetime'].": ".$item['got_nr']." - ". $item['action']."</a>
         </div>
         <div id='myContent".$i."' class='content' style='border: 1px solid black; background-color: #FFFFFF; display: none;padding: 5px; width: 550px;'>";
        echo "<table>";
        echo "<tr><td align='right'>Action:</td><td><b>".$item['action']."</b></td></tr>";
        echo "<tr><td align='right'>DateTime:</td><td><b>".$item['datetime']."</b></td></tr>";
        echo "<tr><td align='right'>Ticket#:</td><td>".$item['ticket_nr']."</td></tr>";
        echo "<tr><td align='right'>Support agreement:</td><td>".$item['support_agreement']."</td></tr>";
        echo "<tr><td align='right'>Support end:</td><td>".$item['support_end']."</td></tr>";
        echo "<tr><td align='right'>Bought from:</td><td>".$item['bought_from']."</td></tr>";
        echo "<tr><td align='right'>Bought on:</td><td>".$item['bought_on']."</td></tr>";
        echo "<tr><td align='right'>Order#:</td><td>".$item['order_nr']."</td></tr>";
        echo "<tr><td align='right'>Got#:</td><td>".$item['got_nr']."</td></tr>";
        echo "<tr><td align='right'>Installation date:</td><td>".$item['installation_date']."</td></tr>";
        echo "<tr><td align='right'>Hostname:</td><td>".$item['hostname']."</td></tr>";
        echo "<tr><td align='right'>Usage:</td><td>".$item['usage']."</td></tr>";
        echo "<tr><td align='right'>Inv_type:</td><td>".$item['inv_type']."</td></tr>";
        echo "<tr><td align='right'>Manufacturer:</td><td>".$item['manufacturer']."</td></tr>";
        echo "<tr><td align='right'>Maconomy:</td><td>".$item['maconomy']."</td></tr>";
        echo "<tr><td align='right'>Note:</td><td>".$item['note']."</td></tr>";
        echo "<tr><td align='right'>Password:</td><td>".$item['password']."</td></tr>";
        echo "<tr><td align='right'>Fullname:</td><td>".$item['real_name']."</td></tr>";
        echo "<tr><td align='right'>Username:</td><td>".$item['user_name']."</td></tr>";
        echo "<tr><td align='right'>Responsible:</td><td>".$item['responsible']."</td></tr>";
        echo "<tr><td align='right'>Department:</td><td>".$item['department']."</td></tr>";

        if($item['consultant'] == 1)
        {
            echo "<tr><td align='right'>Consultant:</td><td>Yes</td></tr>";
        }
        else
        {
            echo "<tr><td align='right'>Consultant:</td><td>No</td></tr>";
        }

        echo "<tr><td align='right'>Model:</td><td>".$item['model']."</td></tr>";
        echo "<tr><td align='right'>Product#:</td><td>".$item['product_nr']."</td></tr>";
        echo "<tr><td align='right'>Type:</td><td>".$item['type']."</td></tr>";
        echo "<tr><td align='right'>Serial#:</td><td>".$item['serial_nr']."</td></tr>";
        echo "<tr><td align='right'>CPU:</td><td>".$item['cpu']."</td></tr>";
        echo "<tr><td align='right'>Disc:</td><td>".$item['disc']."</td></tr>";
        echo "<tr><td align='right'>RAM:</td><td>".$item['ram']."</td></tr>";
        echo "<tr><td align='right'>Graphics:</td><td>".$item['graphics']."</td></tr>";
        echo "<tr><td align='right'>OS:</td><td>".$item['os']."</td></tr>";
        if($item['active'] == 1)
        {
            echo "<tr><td align='right'>Active:</td><td>Yes</td></tr>";
        }
        else
        {
            echo "<tr><td align='right'>Active:</td><td>No</td></tr>";
        }

        if($item['onstock'] == 1)
        {
            echo "<tr><td align='right'>Onstock:</td><td>Yes</td></tr>";
        }
        else
        {
            echo "<tr><td align='right'>Onstock:</td><td>No</td></tr>";
        }

        echo "</table>";

        echo "</div>";

        $i++;
    }
    ?>

</div>
